<ion-input type="number"  name="codigo" placeholder="Codigo" labelPlacement="labelPlacement" autocomplete="off"></ion-input>
<ion-input type="text"  name="dane" placeholder="Primer nombre" labelPlacement="labelPlacement" autocomplete="off"></ion-input>
<ion-input type="text"  name="nombre" placeholder="Segundo nombre" labelPlacement="labelPlacement" autocomplete="off"></ion-input>
<ion-input type="text"  name="nombre" placeholder="Dirección" labelPlacement="labelPlacement" autocomplete="off"></ion-input>