<ion-content class="ion-padding">
  <div class="row mt-8">
    <div class="col-md-4 mx-auto">
      <ion-card>
        <ion-card-header>
          <ion-title text-center>CREAR PROVEEDOR</ion-title>
        </ion-card-header>

        <ion-card-content>
          <form>
          <!-- Componente de prueba -->
          <ion-list>
          <ion-item lines="full">
            <app-id></app-id>
            <app-inputs></app-inputs>
            </ion-item>
          </ion-list>

            <button class="btn btn-success w-100 mb-1"><ion-icon name="save-sharp"></ion-icon></button>

            <ion-button color="primary" expand="full" routerLink="/libros">
              <ion-icon name="return-down-back-sharp"></ion-icon></ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>